@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins";
}
@font-face {
  font-family: "MomoSignature";
  src: url("/fonts/MomoSignature-Regular.ttf") format("trueType");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rochester";
  src: url("/fonts/Rochester-Regular.ttf") format("trueType");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("trueType");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.shadow-cursor {
  box-shadow: 0 0 8px #7a2048, 0 0 16px #bd2f6f, 0 0 24px #631639;
}
